<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<!------ Include the above in your HEAD tag ---------->

   <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        iJAVASCRIPT
                    </a>
                </li>
                <li>
                    <a href="/dashboard">DASHBOARD</a>
                </li><hr>
                <li>
                    <a href="/about">ABOUT</a>
                </li><hr>
                <li>
                    <a href="/team">TEAM</a>
                </li><hr>
                <li>
                    <a href="/">LOGOUT</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Meet thfjhgfjhgkjkjkjhe Team</h1>
                        <hr>
                        <% for(var i=0; i < data.length; i++) { %>
                            <img src="img_avatar.png" alt="Avatar" class="avatar">&nbsp;&nbsp;<%= data[i].uname %><hr>
                         <% } %>

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>


</body>
</html>
